.w3-row-padding img {
    margin-bottom: 12px
}
body {
    font-size: 48px;
  }
  div:nth-child(1) {
    font-family: 'Crimson Pro', serif;
  }
  div:nth-child(2) {
    font-family: 'Literata’, serif;
  }

/* Set the width of the sidebar to 120px */
.w3-sidebar {
    width: 120px;
    background: wheat;
}


/* footer styling */
#footer {
background-color:whitesmoke;
text-align: center;
}

