.w3-row-padding img {
    margin-bottom: 12px;
    margin: 1px 2px 4px 5px;
}
{

}
body {
    font-size: 48px;
  }

/* footer styling */
#footer {
background-color:whitesmoke;
text-align: center;
border-width:medium;

}

#photo{
  margin:auto;
  padding:2px 2px 1px 1px;
  border-width:2px 3px 1px 4px;
}
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.service-box {
  background-color: #fff;
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.service-box:hover .ico-circle {
  transition: all 500ms ease;
  color: #fff;
  background-color: #0078ff;
  box-shadow: 0 0 0 10px #cde1f8;
}
.service-box .service-ico {
  margin-bottom: 1rem;
  color: #1e1e1e;
}

.service-box .ico-circle {
  transition: all 500ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.service-box .ico-circle i {
  line-height: 0;
  font-size: 40px;
}

.service-box .s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.4rem 0;
  color: black;
}

.service-box .s-description {
  color: #4e4e4e;
}

.box {
  --x:10px;
  --y:20px;
  clip-path:polygon(
       0 var(--x),var(--y) 0,
       100% 0,100% 100%,
       var(--y) 100%,0 calc(100% - var(--x)));
  margin:30px;
  transform-origin:left;
  transform:perspective(1000px) rotateY(40deg);
  -webkit-mask:linear-gradient(to right,#fff var(--y),rgba(0,0,0,0.8) 0);
          mask:linear-gradient(to right,#fff var(--y),rgba(0,0,0,0.8) 0);

          transform: perspective(600px) rotateX(45deg);
          background: radial-gradient 
}
